.information {
  margin-bottom: 100px;

  & .links {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: bold;
  }
}

.boxTitle {
  margin-bottom: 20px;
  font-weight: 200;
}

.skillsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.skillBox {
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 300px;
}

.skillBox h3 {
  margin-bottom: 10px;
  font-size: 18px;
}

.skillList {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skillList span {
  background-color: #131313;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 14px;
}
